
@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Главная</title>
</head>
<body>
    <div class ="proverka67"></div>
    <div class="main">
        <div class="main__container">
            <div class="main__inner">
                <div class="main__welcome">
                    <h1>Добро пожаловать в мир манги, мы ждали тебя!</h1>
                    <p class=""> В каталоге нашего магазина вы найдете культовые произведения в жанре манга для взрослых и детей, рассказывающие интересные и захватывающие истории. В хороших руках манга может стать отличным способом познания окружающего мира, так как идеально передает мироощущение за счет хитрых графических приемов.
                    </p>
                    <input type="button" value=" Заказать мангу" class = "main__button" >
                </div>
            </div>
        </div>
    </div>

    <div class="advantages">
        <div class="advantages__container">
            <div class="advantages__inner"> 
              <div class="advantages__grid-header"> Почему именно мы?</div>
              <div class="advantages__grid-pictures1"> <img src="/Image/adbantages_1.png" alt=""></div>
              <div class="advantages__grid-text1"> <p class="advText">Отличные менеджеры, которые готовы всегда помочь с выбором товара</p></div>
              <div class="advantages__grid-pictures2"><img src="/Image/060-coin-dollar.png" alt=""></div>
              <div class="advantages__grid-text2"> <p class="advText">Самые низкие цены среди всех магазинов</p></div>
              <div class="advantages__grid-pictures3"> <img src="/Image/084-calendar.png" alt=""></div>
              <div class="advantages__grid-text3"> <p class="advText">Быстрая доставка. Заказы всегда приходят в указаный срок</p></div>
            </div>
        </div>  
    </div>
</body>
</html>
