@{
    ViewData["Title"] = "Home Page";
}
  <head>
    <link  type="text/css" link rel="stylesheet" href="./css/testing.css" />
  </head>
<div class="text-center">
    <h1 class="display-4">Welcome</h1>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
    <div class = "test"><h2 class = "test1">ПРОВЕРОЧКА</h2></div>
</div>

