
body {
    margin: 0;
}
/* Прибить футер к низу */
.page {
    /* overflow: hidden; */
    display: grid;
    grid-template-rows: auto 1fr auto;
    min-height: 100vh;
}

/*  Header */
.header {
    width: 100%;
    top: 0;
    left: 0;
    z-index: 1000;
}

.header__inner {
    display: flex;
    justify-content: space-between;
    background: url("/image/header_background.jpg") center;
}

.header__logo {
    font-size: 30px;
    font-weight: 900;
    color: white;
    margin: 10px 100px;
}

.header__nav {
    font-size: 18px;
    text-transform: uppercase;
    margin-right: 40px;
    font-weight: 700;
}

.header__nav-link {
    vertical-align: top;
    display: inline-block;
    color: #fff;
    text-decoration: none;
    transition: color 0.2s linear;
    margin: 20px 15px 0 0px;
}

.search__nav-link {
    fonr-size: 20px;
    font-family: 'Philosopher', sans-serif;
    vertical-align: top;
    display: inline-block;
    color: black;
    text-decoration: none;
    transition: color 0.2s linear;
}

.header__nav-link:hover {
    color: green;
}

/* Hamburger */
.header__hamburger-menu {
    position: absolute;
    visibility: hidden;
}

#header__menu-toggle {
    opacity: 0;
}

#header__menu-toggle:checked ~ .header__menu-btn > span {
    transform: rotate(45deg);
}

#header__menu-toggle:checked ~ .header__menu-btn > span::before {
    background-color: black;
    top: 0;
    transform: rotate(0);
}

#header__menu-toggle:checked ~ .header__menu-btn > span::after {
    background-color: black;
    top: 0;
    transform: rotate(90deg);
}

#header__menu-toggle:checked ~ .header__menu-box {
    visibility: visible;
    right: 0;
}

.header__menu-btn {
    display: flex;
    align-items: center;
    position: fixed;
    top: 20px;
    right: 20px;
    width: 26px;
    height: 26px;
    cursor: pointer;
    z-index: 1;
}

.header__menu-btn > span,
.header__menu-btn > span::before,
.header__menu-btn > span::after {
    display: block;
    position: absolute;
    width: 100%;
    height: 2px;
    background-color: white;
    transition-duration: 0.25s;
}

.header__menu-btn > span::before {
    content: "";
    top: -8px;
}

.header__menu-btn > span::after {
    content: "";
    top: 8px;
}

.header__menu-box {
    display: block;
    position: fixed;
    visibility: hidden;
    top: 0;
    right: -100%;
    width: 300px;
    height: 100%;
    margin: 0;
    padding: 80px 0;
    list-style: none;
    background-color: #eceff1;
    box-shadow: 1px 0px 6px rgba(0, 0, 0, 0.2);
    transition-duration: 0.25s;
}

.header__menu-item {
    display: block;
    padding: 12px 24px;
    color: #333;
    font-family: "Roboto", sans-serif;
    font-size: 20px;
    font-weight: 600;
    text-decoration: none;
    transition-duration: 0.25s;
}

.header__menu-item:hover {
    background-color: #cfd8dc;
}

/* Main_content */

.Main__container {
    /* background-color: rgb(65, 105, 225); */
    background: url("/image/pink_rice.png") center;
}

.Help {
    text-align: center;
}

.Help_text {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: black;
    font-size: 41px;
    position: center;
}

.Child_Name {
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: black;
    font-size: 24px;
    text-align: center;
    display: flex;
    align-items: center;
    padding-left: 10%;
}

.row {
    margin: 10px;
}

.Child_BTN {
    display: flex;
    align-items: center;
    padding-left: 38%;
    padding-top: 3%;
}

/* Home page */

.main__container {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
}

.main {
    width: 100%;
    height: 100vh;
    background: url("/image/LeshaOrig.jpg") center no-repeat;
    background-size: cover;
}

body h1, h2, h3, h4, h5, h6 {
    margin: 0;
    font-size: 70px;
    font-family: 'Merriweather', serif;
    font-weight: 500;
}

.main__inner {
    max-width: 1200px;
    width: 100%;
    margin: 0 auto;
    height: 100vh;
}

.main__welcome {
    text-align: center;
    padding-top: 10rem;
    font-family: 'Raleway', sans-serif;
    color: #fff;
    text-shadow: 20px 2px 20px black;
}

.main__welcome p {
    font-family: 'Raleway', sans-serif;
    text-align: center;
    font-size: 24px;
}

.main__button {
    font-family: 'Raleway', sans-serif;
    margin-top: 8%;
    font-size: 24px;
    border: 0;
    height: 100px;
    width: 300px;
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 1rem;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.main__button:hover {
    background: rgb(53, 167, 110);
}

.main__button:active {
    background: rgb(33,147,90);
    box-shadow: 0 3px rgb(33,147,90) inset;
}

.advantages {
    background-color: #d289d0;
}

.advantages__inner {
    display: grid;
    margin: 0 auto;
    max-width: 1400px;
    width: 100%;
    height: 400px;
    max-height: 100%;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(3, 1fr);
    grid-template-areas:
        "hd hd hd" "pic1 pic2 pic3" "text1 text2 text3";
}

.advText {
    font-family: 'Balsamiq Sans', cursive;
    text-align: center;
    font-size: 24px;
    font-weight: 800;
    color: #000;
}

.advantages__grid-header {
    grid-area: hd;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 1;
    text-align: center;
    font-size: 50px;
    font-family: 'Pangolin', cursive;
    color: black;
    font-weight: 800;
    padding-top: 30px;
    margin-top: 20px;
}

.advantages__grid-pictures1 {
    grid-area: pic1;
    text-align: center;
}

.advantages__grid-pictures1 img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
}


.advantages__grid-pictures2 {
    grid-area: pic2;
    text-align: center;
}

.advantages__grid-pictures2 img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.advantages__grid-pictures3 {
    grid-area: pic3;
    text-align: center;
}

.advantages__grid-pictures3 img {
    height: 80px;
    width: 80px;
    margin-top: 20px;
}

.advantages__grid-text1 {
    grid-area: text1;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.advantages__grid-text2 {
    grid-area: text2;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

.advantages__grid-text3 {
    grid-area: text3;
    text-align: center;
    font-size: 25px;
    font-family: 'Roboto', sans-serif;
}

/* Footer */

/* .footer{
margin-top: auto;
} */

.proverka67 {
    max-height: 100px;
    background: url("/image/footer_shapka.jpg") center;
}

.footer__inner {
    margin-top: auto;
    color: whitesmoke;
    /*color: black;*/
    background: url("/image/footer_shapka.jpg") center;
    background-size: cover;
    width: 100%;
    height: 150px;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: repeat(2, 1fr);
    grid-template-areas:
        "logo con num" "res";
}

.footer__logosocial {
    text-align: center;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 1fr;
    grid-area: logo;
    grid-column-start: 1;
    grid-column-end: 2;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer__insta img:hover {
    width: 60px;
    height: 60px;
}

.footer__telega img:hover {
    width: 60px;
    height: 60px;
}

.footer__youtube img:hover {
    width: 60px;
    height: 60px;
}

.footer__logosocial div {
    padding-top: 10px;
}

.footer__connect {
    padding-top: 15px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-size: 35px;
    text-align: center;
    grid-area: con;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer__number {
    padding-top: 15px;
    font-weight: 900;
    font-family: 'Lobster', cursive;
    font-size: 35px;
    text-align: center;
    grid-area: num;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
}

.footer__reserved {
    padding-top: 20px;
    font-weight: 900;
    font-family: 'Raleway', sans-serif;
    font-size: 20px;
    text-align: center;
    grid-area: res;
    grid-column-start: 1;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 3;
}

/* Katalog */
.test {
    min-height: 100vh;
}

.Add_button {
    margin-left: 10%;
    margin-top: 5%;
}

.Adaptive_button {
    margin-left: 20%;
    margin-top: 2%;
}

.Hidden_menu {
    position: absolute;
    visibility: hidden;
}

.Add_tovari {
    width: 100%;
}

.catalog__filtr-type {
    font-family: 'Merriweather', serif;
    font-weight: 500;
    color: black;
    font-size: 21px;
    position: center;
    margin-left: 3%;
    margin-top: 5%;
}

.labelPublisher {
    font-weight: bold;
}

#pagination li:hover {
    cursor: pointer;
    color: red;
    border: 1px solid red;
}

#pagination li {
    margin-right: 5px;
    padding: 10px;
    border: 1px solid black;
}

#pagination {
    display: flex;
    padding: 0;
    list-style-type: none;
}

.Nizstr {
    bottom: 0;
    position: static;
}


/* Элемент магазина */

.body-catalog {
    margin: 0;
    max-width: 1920px;
    width: 100%;
    height: 100%;
}

.body-catalog__item-1 img {
    border: 4px double black;
    margin-left: 25%;
    height: 200px;
}

.body-catalog__item-1 {
    border: 1px double black;
    width: 100%;
    height: 200px;
    padding: 0;
    margin: 0;
    display: grid;
    grid-template-columns: 30% 35% 35%;
    grid-template-rows: 33.3% 33.3% 33.3%;
    grid-area: item1;
}

.body-catalog__item1-icon {
    border: 1px solid black;
    overflow: hidden;
    position: relative;
}

#heading1 {
    max-height: 100% /*340px*/;
    max-width: 100%/* 250px*/;
    object-fit: cover;
   /* position: absolute;*/
    /*    top: 0;
    left: 0;*/
}

.body-catalog__item1-title {
    font-family: 'Fira Sans', sans-serif;
    font-weight: 900;
    font-size: 22px;
    margin-top: 20px;
    text-align: center;
    grid-area: item1_title;
    grid-column: 2/4;
    grid-row: 1/2;
}

.body-catalog__item1-buy {
    margin-top: 20px;
    text-align: center;
    grid-area: item1_buy;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 3;
    grid-row-end: 4;
}

.body-catalog__detail1-button {
    display: inline-block;
    color: white;
    text-decoration: none;
    padding: .5em 2em;
    outline: none;
    border-width: 2px 0;
    border-style: solid none;
    border-color: #FDBE33 #000 #D77206;
    border-radius: 6px;
    background: linear-gradient(#F3AE0F, #E38916) #E38916;
    transition: 0.2s;
}

.body-catalog__detail1-button:hover {
    background: linear-gradient(#f5ae00, #f59500) #f5ae00;
}

.body-catalog__detail1-button:active {
    background: linear-gradient(#f59500, #f5ae00) #f59500;
}

.body-catalog__item1-button {
    font-weight: 700;
    color: white;
    text-decoration: none;
    padding: .8em 1em calc(.8em + 3px);
    border-radius: 3px;
    background: rgb(64,199,129);
    box-shadow: 0 -3px rgb(53,167,110) inset;
    transition: 0.2s;
}

.body-catalog__item1-detail {
    margin-top: 20px;
    text-align: left;
    grid-area: item1_detail;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 3;
    grid-row-end: 4;
}
/* Test */
#heading {
    /*border: 1px solid black;*/
    /* max-height: 300px; */
    /* //overflow: hidden; */
}


.descriptionInform {
    font-size: 18px;
    font-family: 'Roboto Slab', serif;
    font-weight: 600;
}

.imagePosition {
    display: flex;
    justify-content: center;
    max-height: 200px;
    margin-top: 5%;
}

.SearchOgran {
    width: 300px;
    max-width: 800px;
    max-height: 800px;
    display: inline-block;
}

.searcDownOtstup{
    padding-bottom:20px;
}

.searchText {
    padding-top:15px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: black;
    font-size: 20px;
}

#searchFiltercontainer{
    margin-top:10px;
}
/* About */
.textcenter {
    display: grid;
    justify-content: center;
}

.AboutText {
    margin-top: 30px;
    font-family: 'Merriweather', serif;
    font-weight: bold;
    color: black;
    font-size: 35px;
    position: center;
}

.Karusel {
    display: flex;
    align-items: center;
}

.carousel {
    width: 100%;
}

.carousel-item img {
    width: 100%;
    height: 500px; /* высота изображения */
    object-fit: scale-down;
}

/* Adaptive */

@media (max-width: 1199px) {
/*    .descriptionInform {
        font-size: 13px;
    }
*/
   #heading1 {
        max-width: 150px;
       /* max-height: 200px;*/
    }
}

@media (max-width: 1188px) {
    .footer__connect {
        font-size: 24px;
    }
}

@media (max-width: 1391px) {
    .Help_text {
        font-size: 38px;
    }
}

@media (max-width: 1174px) {
    .AboutText {
        font-size: 34px;
    }

    .main__welcome h1 {
        font-size: 50px;
    }

    .main__welcome p {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 1059px) {
    .footer__connect {
        font-size: 24px;
    }

    .Help_text {
        font-size: 25px;
    }
}

@media (max-width: 991px) {
    .AboutText {
        font-size: 30px;
    }
    #heading1 {
        max-height: 600px;
        max-width: 600px;
    }
    .body-catalog__item1-icon {
        display: flex;
        justify-content: center;
    }

    .descriptionInform {
        font-size: 24px;
    }

    #textbuttonProsmort{
        font-size: 25px;
    }
    #SearchContainer {
        padding-bottom: 10px;
    }
}

@media (max-width: 884px) {
    .main__welcome h1 {
        font-size: 40px;
        font-weight: bold;
    }

    .main__welcome p {
        margin-top: 10px;
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 850px) {
    nav {
        position: absolute;
        visibility: hidden;
    }

    .header__logo {
        margin: 10px 10px;
    }

    .header__hamburger-menu {
        visibility: visible;
        position: static;
    }

    .footer__number {
        font-size: 24px;
    }

    .Help_text {
        font-size: 25px;
    }
}

@media(max-width: 767px) {
    .AboutText {
        font-size: 25px;
    }
    .SearchOgran {
        display: block;
        padding-bottom: 10px;
    }
    #SearchContainer {
        padding-bottom: 10px;
        padding-left: 110px;
    }
    .сol-1 {
        width: 100%;
    }
}

@media(max-width: 765px) {
    .Help_text {
        font-size: 21px;
    }
}

@media(max-width: 723px) {
    .footer__number {
        font-size: 30px;
    }
}

@media(max-width: 713px) {
    .footer__connect {
        font-size: 20px;
    }

    .footer__number {
        font-size: 24px;
    }
}

@media (max-width: 670px) {
    .advantages__inner {
        height: auto;
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(7, 1fr);
        grid-template-areas:
            "hd" "pic1" "text1" "pic2" "text2" "pic3" "text3";
    }

    .footer__connect {
        visibility: hidden;
        position: absolute;
    }

    .footer__number {
        visibility: hidden;
        position: absolute;
    }

    .footer__inner {
        grid-template-columns: repeat(1, 1fr);
        grid-template-rows: repeat(2, 1fr);
        grid-template-areas:
            "logo" "res"
    }
}


@media(max-width: 538px) {
    .Help_text {
        font-size: 20px;
    }

    .AboutText {
        font-size: 20px;
    }
}

@media(max-width: 480px) {
    #SearchContainer {
        padding-bottom: 10px;
        padding-left: 12px;
    }
}

@media (max-width: 375px) {
    .main_button {
        font-size: 15px;
        height: 80px;
        width: 200px;
    }

    .main__welcome h1 {
        font-size: 30px;
        font-weight: 800;
        padding-left: 20px;
        padding-right: 20px;
    }

    .main__welcome p {
        font-size: 20px;
        padding-left: 20px;
        padding-right: 20px;
    }
}

@media (max-width: 338px) {
    .main__welcome {
        padding-top: 100px;
    }
}
