@{
    ViewData["Title"] = "Home Page";
}

<!DOCTYPE html>
<html lang="en">
<head>
    <title>Главная</title>
</head>
<body>
    <div class="Main__container">
        <div class="row">
            <div class="col-sm-2 test">
                <div class="catalog__filtr-type">
                    <div class="catalog__type1 labelPublisher">По жанру</div>
                    <div class="catalog__testing type2"><input type="checkbox" name="ctype2">Сёнен</div>
                    <div class="catalog__testing type3"><input type="checkbox" name="ctype3">Сэнтай</div>
                    <div class="catalog__testing type4"><input type="checkbox" name="ctype4">Дзёсэй</div>
                    <div class="catalog__testing type5"><input type="checkbox" name="ctype5">Кодомо</div>
                    <div class="catalog__testing type6"><input type="checkbox" name="ctype5">Сэйнэн</div>
                </div>
                <div class="catalog__filtr-type">
                    <div class="catalog__type1 labelPublisher">По издателю</div>
                    <div class="catalog__testing type2"><input type="checkbox" name="ctype2">Rise manga</div>
                    <div class="catalog__testing type3"><input type="checkbox" name="ctype3">Manga life</div>
                    <div class="catalog__testing type4"><input type="checkbox" name="ctype4">Азбука</div>
                    <div class="catalog__testing type5"><input type="checkbox" name="ctype5">Эксмо</div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><button type="button" class="btn-success btn-lg Add_button">Фильтровать</button></div>
                </div>
                <div class="row">
                    <div class="col-sm-12"><button type="button" class="btn btn-primary btn-lg Add_button" id="Add_tovari"  onClick='location.href="AddProduct.html"'>Добавить товар</button></div>
                </div>
            </div>
            <div class="col-sm-10 test">
                <div class="row proverka">
                    <div class="body-catalog">   
                        <div class="body-catalog__item-1">
                        <div class="body-catalog__item1-icon"><img src="Image/aot_image4.jpg" alt=""></div> 
                        <div class="body-catalog__item1-title">Атака Титанов 33 Том</div> 
                        <div class="body-catalog__item1-buy"><a href="#" class="body-catalog__item1-button">Добавить в корзину</a></div> 
                        <div class="body-catalog__item1-rating">
                            <div class="body-catalog__rating-result">
                                <span class="active"></span>	
                                <span class="active"></span>    
                                <span class="active"></span>  
                                <span></span>    
                                <span></span>
                            </div>
                    </div> 
                        <div class="body-catalog__item1-detail"><a href="#" class="body-catalog__detail1-button">Узнать подробнее</a></div> 
                    </div>
                        <div class="body-catalog__item-1">
                        <div class="body-catalog__item1-icon"><img src="Image/aot_image4.jpg" alt=""></div> 
                        <div class="body-catalog__item1-title">Атака Титанов 33 Том</div> 
                        <div class="body-catalog__item1-buy"><a href="#" class="body-catalog__item1-button">Добавить в корзину</a></div> 
                        <div class="body-catalog__item1-rating">
                            <div class="body-catalog__rating-result">
                                <span class="active"></span>	
                                <span class="active"></span>    
                                <span class="active"></span>  
                                <span></span>    
                                <span></span>
                            </div>
                    </div> 
                        <div class="body-catalog__item1-detail"><a href="#" class="body-catalog__detail1-button">Узнать подробнее</a></div> 
                    </div>
                        <div class="body-catalog__item-1">
                        <div class="body-catalog__item1-icon"><img src="Image/aot_image4.jpg" alt=""></div> 
                        <div class="body-catalog__item1-title">Атака Титанов 33 Том</div> 
                        <div class="body-catalog__item1-buy"><a href="#" class="body-catalog__item1-button">Добавить в корзину</a></div> 
                        <div class="body-catalog__item1-rating">
                            <div class="body-catalog__rating-result">
                                <span class="active"></span>	
                                <span class="active"></span>    
                                <span class="active"></span>  
                                <span></span>    
                                <span></span>
                            </div>
                    </div> 
                        <div class="body-catalog__item1-detail"><a href="#" class="body-catalog__detail1-button">Узнать подробнее</a></div> 
                    </div>
                        <div class="body-catalog__item-1">
                        <div class="body-catalog__item1-icon"><img src="Image/aot_image4.jpg" alt=""></div> 
                        <div class="body-catalog__item1-title">Атака Титанов 33 Том</div> 
                        <div class="body-catalog__item1-buy"><a href="#" class="body-catalog__item1-button">Добавить в корзину</a></div> 
                        <div class="body-catalog__item1-rating">
                            <div class="body-catalog__rating-result">
                                <span class="active"></span>	
                                <span class="active"></span>    
                                <span class="active"></span>  
                                <span></span>    
                                <span></span>
                            </div>
                    </div> 
                        <div class="body-catalog__item1-detail"><a href="#" class="body-catalog__detail1-button">Узнать подробнее</a></div> 
                    </div>
                    </div>
                </div>  
                <div class="row"><div class="Nizstr">
                    <ul id="pagination">
                        <li>1</li>
                        <li>2</li>
                        <li>3</li>
                        <li>4</li>
                        <li>5</li>
                    </ul>
                </div></div>
            </div>
        </div>
    </div>
</body>
</html>